{% if page.comment == true %}
<script src="https://giscus.app/client.js"
        data-repo="oofybruh9/oofybruh9.github.io"
        data-repo-id="R_kgDOPhdJCQ"
        data-category="Comments"
        data-category-id="DIC_kwDOPhdJCc4Cwcma"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
